# Source: jxboot-helmfile-resources/templates/environments.yaml
apiVersion: jenkins.io/v1
kind: Environment
metadata:
  labels:
    env: "dev"
    team: jx
    gitops.jenkins-x.io/pipeline: 'namespaces'
  name: "dev"
  annotations:
    meta.helm.sh/release-name: 'jxboot-helmfile-resources'
  namespace: jx
spec:
  source:
    ref: "master"
    url: https://github.com/bussrrajeshnayak/bussr-jx3-gke-gsm.git
  kind: Development
  label: Development
  namespace: jx
  promotionStrategy: "Never"
  webHookEngine: "Lighthouse"
  teamSettings:
    appsRepository: https://jenkins-x-charts.github.io/repo
    defaultScheduler:
      apiVersion: jenkins.io/v1
      kind: Scheduler
      name: jx-meta-pipeline
    dockerRegistryOrg: ""
    envOrganisation: todo
    gitServer: https://github.com
    kubeProvider: "gke"
    pipelineUsername: "bussrrajeshnayak"
    pipelineUserEmail: "jenkins-x@googlegroups.com"
    prowConfig: Scheduler
    storageLocations:
      - bucketUrl: gs://logs-jx-cluster-5d7f482b4ea0
        classifier: logs
      - bucketUrl: gs://reports-jx-cluster-5d7f482b4ea0
        classifier: reports
