apiVersion: gitops.jenkins-x.io/v1alpha1
kind: SourceConfig
metadata:
  creationTimestamp: null
spec:
  groups:
  - owner: bussrrajeshnayak
    provider: https://github.com
    providerKind: github
    repositories:
    - name: -node-project
    - name: golang-http
    - name: golang-http-01
    - name: golang-http-new
    - name: node-project
    - name: nodejs
    - name: react-quickstart
    - name: spring
    scheduler: in-repo
  slack:
    channel: '#jenkins-x-pipelines'
    kind: failureOrNextSuccess
    pipeline: release
